<app-not-found [visible]="!food" notFoundMessage="Product Not Found"></app-not-found>
<div class="parent" *ngIf="food">
<div class="container">
  <img [src] ="food.imgUrl" [alt]="food.name">
  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="wait-time">Time to Serve 🕔<strong>{{food.waitTime}}</strong></span>
    </div>
    <div class="description">
      <span>
          {{food.description}}
      </span>
    </div>
    <div class="price">
      <span>
        {{food.price}}
      </span>
    </div>
    <div class="tags">
      <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
    </div>
  </div>
</div>
<div class="button">
  <button (click)="addToCart()">Add To Cart</button>
</div>
</div>
